.about-hero{
  padding: 62px 0;
  background-image: url("../../images/about-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-hero__inner{
  position: relative;

  &::before{
    content: "";
    width: 234px;
    height: 62px;
    background-image: url("../../images/circle-group.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: -240px;
  }
}

  .about-hero__title{
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: $white-color;
    margin: 0;
  }


  @media only screen and (max-width: 769px){

  .about-hero{
    background-image: url("../../images/about-tablet-bg.png");
  }


  .about-hero__title{
    padding-left: 92px;
  }
  }


  @media only screen and (max-width: 426px){

    .about-hero{
      background-image: url("../../images/about-mobile.png");
    }

    .about-hero__inner::before{
    display: none;
      }

    .about-hero__title{
      text-align: center;
      padding-left: 0;
    }
  }