.city{
  padding: 120px 0;
}

.city__list{
  display: none;
  flex-direction: column;
  list-style-type: none;
  margin-top: 40px;
  padding: 0;

}

.city__item{
  background: rgba(252, 183, 43, 0.15);
  margin-bottom: 16px;
  padding: 22px 100px;
  text-align: center;
}

.city__item-link{
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  text-decoration: none;
  color: $title-color;
}

.city__content{
  display: flex;
  align-items: center;
  margin-top: 120px;
}

.city__content-info{
  display: flex;
  align-items: flex-start;
}

.city__title{
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: $title-color;
  margin: 0;
  margin-right: 60px;
}

.city__text-content{
  width: 445px;
  margin-right: 100px;
}

.city__text{
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $text-color;
  margin: 0;
}


@media only screen and (max-width: 769px){

  .city{
    padding-bottom: 0;
  }

  .city__mobile-img{
    display: none;
  }

  .city__content{
    align-items: center;
    flex-direction: column;
  }

  .city__content-info{
    flex-direction: column;
    align-items: center;
  }

  .city__title{
    text-align: center;
    margin-right: 0;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  .city__text-content{
    width: 570px;
    text-align: center;
    margin-right: 0;
    margin-bottom: 40px;
  }
}


@media only screen and (max-width: 426px){

  .city__img{
    display: none;
  }

  .city__mobile-img{
    display: block;
    margin: 0 auto;
  }

.city__list{
  display: flex;
}

  .city__content{
    margin-top: 70px;
  }

  .city__content-info{
    width: 100%;
  }

  .city__title{
    font-size: 32px;
    line-height: 32px;
  }

  .city__text-content{
    width: 80%;

  }
}
