.coming{
padding: 150px 0 150px;
background-image: url("../../images/coming-city.png");
background-repeat: no-repeat;
background-position: calc(50% - 660px) calc(50%);
}

.coming__inner{
  display: flex;
  justify-content: flex-end;
}

.coming__content{
width: 445px;
}

.coming__title{
  font-weight: bold;
font-size: 48px;
line-height: 48px;
letter-spacing: -2.14286px;
color: $title-color;
margin: 0;
}


.coming__text{
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $text-color;
  margin: 24px 0 40px;
}


@media only screen and (max-width: 769px){

  .coming{
    width: 100%;
    padding: 0;
    background-position: calc(50% - 280px) calc(50% - 100px );
    background-size: center;
  }

  .coming__content{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 700px;
  }
}



@media only screen and (max-width: 426px){

  .coming{
    width: 100%;
    padding-top: 100px;
    background-image: url("../../images/coming-mobile.png");
    background-position: calc(50% - 20px) calc(50% - 150px);
    background-size: 100% ;
  }

  .coming__content{
    width: 80%;
    padding-top: 550px;
  }

  .coming__title{
    font-size: 32px;
    line-height: 32px;
  }
}