
.site-header__inner{
  display: flex;
  align-items: center !important ;
  padding: 22px 0;
}

.site-header__burger-btn{
  display: none;
}

.site-header__logo-link:hover{
  opacity: 0.8;
}

.site-header__menu{
  width: 100%;
  display: flex;
  align-items: center !important;
  margin-left: 55px;
}

.site-header__list{
  display: flex;
  align-items: center !important;
  list-style-type: none;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  padding: 0;
}

.site-header__item:nth-child(2){
  margin: 0 32px;
}

.site-header__item-link{
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  color: $text-color;
  transition: 1s ease;

  &:hover{
    color: $background-color;
  }
}

.get-link{
  display: inline-block;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  color: $white-color;
  background-color: $background-color;
  padding: 14px 39px;
  transition: 0.2s ease;
  border: 3px solid transparent;

  &:hover{
    border-color: #FCB72B;
    color: $background-color;
    background-color: transparent;
  }
}




@media only screen and (max-width: 720px){


  .site-header__link{
    padding: 10px 20px;
  }
}



@media only screen and (max-width: 560px){

  .site-header__burger-btn{
    display: block;
    margin-right: 100px;
    background-color: transparent;
    border: none;
  }


  .site-header__menu{
    display: none;
  }
}