.hero{
  padding: 153px 0;
  background-image: url("../../images/Bitmap.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero__inner{
  position: relative;
  background-image: url("../../images/hero-right-arrow.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 230px) calc(50% + 85px);


  &::after{
    content: "";
    width: 234px;
    height: 62px;
    background-image: url("../../images/circle-group.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 260px;
    right: -240px;
  }
}

.hero__content{
  width: 500px;
  color: $white-color;
  position: relative;

  &::before{
    content: "";
    width: 203px;
    height: 15px;
    background-image: url("../../images/hero-line.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 187px;
    left: -220px;
  }

}

.hero__title{
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  margin: 0;

}

.hero__content-info{
  padding-left:95px;
}

.hero__text{
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  margin: 40px 0;
}



@media only screen and (max-width: 769px){

  .hero{
    padding: 137px 0 180px;
    background-image: url("../../images/tablet-home-bg.png");
  }

  .hero__inner{
    background-image: none;
    text-align: center;

    &::after{
      display: none;
    }
  }

  .hero__content{
    margin: 0 auto;

    &::before{
      display: none;
    }
  }

  .hero__content-info{
    padding-left:0;
  }

}


@media only screen and (max-width: 426px){

  .hero{
    padding: 115px 0 180px;
    background-image: url("../../images/home-mobile-bg.png");
  }

  .hero__content{
    width: 70%;
  }

  .hero__title{
    font-size: 40px;
    line-height: 40px;
  }


}