.location-hero{
  padding: 62px 0;
  background-image: url("../../images/about-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.location-hero__title{
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: $white-color;
}
