.location-hero{
  padding: 62px 0;
  background-image: url("../../images/careers-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.location-hero__inner{
  position: relative;

  &::before{
    content: "";
    width: 234px;
    height: 62px;
    background-image: url("../../images/circle-group.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: -240px;
  }
}

.location-hero__title{
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: $white-color;
  margin: 0;
}


@media only screen and (max-width: 769px){

.location-hero{
  background-image: url("../../images/location-tablet-bg.png");
}

}
