.mobility{
  padding: 250px 0;
  background-image: url("../../images/mobility-bg.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 560px) calc(50% );
}

.mobility__content{
width: 445px;
}

.mobility__title{
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: $title-color;
  margin: 0;
}

.mobility__text{
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $text-color;
  margin-top: 24px;
}


@media only screen and (max-width: 769px){

  .mobility{
    width: 100%;
    padding: 0;
    background-position: calc(50% + 200px) calc(50% - 50px);
    background-size: center ;
  }

  .mobility__content{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 700px;
  }
}


@media only screen and (max-width: 426px){

  .mobility{
    width: 100%;
    padding: 100px 0;
    background-image: url("../../images/mobility-mobile.png");
    background-position: calc(50% + 20px) calc(50% - 150px);
    background-size: 100% ;
  }

  .mobility__content{
    width: 80%;
    padding-top: 450px;
  }

  .mobility__title{
    font-size: 32px;
    line-height: 32px;
  }
}