.process{
padding: 160px 0 100px;
background-image: url("../../images/line-locate.png");
background-repeat: no-repeat;
background-position: calc(50% - 280px) calc(50% - 70px);
}

.process__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.process__item{
width: 350px;
}

.process__subtitle{
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  margin: 40px 0 27px;
  color: $title-color;
}

.process__text{
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $text-color;
}