.sign-up{
  background-color: $title-color;
  background-image: url("../../images/footer-bg.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 40px) calc(50% + 20px);
  padding: 102px 0;
}

.sign-up__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-up__title-info{
  width: 415px;
}

.sign-up__title{
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: $white-color;
}

.sign-up__download-info{
  display: flex;
  align-items: center;
}

.sign-up__link{
  background: #E5ECF4;
  border-radius: 4px;
  padding: 10px 16px;

  &:first-child{
    margin-right: 18px;
  }
}